@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(130deg, #090909 70%, #222222 30%);
  --foreground: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(70deg, #151515 0%, #090909 70%);
    --foreground: #FFFFFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, sans-serif;
}
