

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - 80px));
    }
}

@keyframes reverseScroll {
    to {
        transform: translateX(calc(100% + 80px));
    }
}

.unlist {
    clip-path: inset(0 0 0 0);
    animation: scroll 300s linear infinite;
}

.reverse-unlist {
    clip-path: inset(0 0 0 0);
    animation: reverseScroll 400s linear infinite;
}
